body {
	margin: 0;
	padding: 0;
}

.container {
	padding: 30px;
	padding-top: 60px;
}

.slider {
	height: 15px;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	position: relative;
}

.slider-picker {
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	background-color: #f6f6f6;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	position: absolute;
	cursor: pointer;
}
.line {
	height: 15px;
	width: 10px;
	position: absolute;
	background-color: #c5c5c5;
}
.slider-form {
	margin-bottom: 30px;
}

.slider-form input{
	margin-right: 20px;
}
/*2A7EC3
*/